<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
    <title>Blog</title>
</head>
<header>
    <p class="header-text"><%= user %></p>
    <form class="search-container" action="/search" method="post">
        <input type="search" placeholder="Search by user or title">
    </form>
    <form class="user-button" action="/user" method="get">
        <button type="submit">Users</button>
    </form>
    <form class="post-button" action="/create" method="get">
        <button type="submit">New post</button>
    </form>
</header>
<main>